@font-face {
    font-family: 'Courgette-Regular';
    src: url('../fonts/Courgette-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e002b;

    .message {
        font-family: 'Courgette-Regular';
        color: #fdfd00;
        font-size: 25px;
        text-align: center;
    }

    .buttons button {
        font-family: 'Courgette-Regular';
        font-size: 18px;
        padding: 6px 26px;
        margin: 10px 5px;
        border: none;
        border-radius: 18px;
        background-color: #8800c4;
        color: #fff;
        transition: .4s;
        cursor: pointer;

        &:hover {
            background-color: #b600de;
            box-shadow: #fdfd00 0 0 12px;
        }
    }
}